.App {
  text-align: center;
  color: #fcb700;
}

.caution {
  color: white;
  background-color: red;
  font-weight: bold;
}

h1 {
  font-size: 48px;
  color: #fcb700;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
